* { 
  /* border: thin red dashed; */ 
  box-sizing: border-box;
}
.button { 
  border:4px teal solid; 
  margin: 10px;
  color: teal;
  border-radius: 5px; 
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  }
  .hover { 
  border:2px teal solid; 
  color: white;
  background-color: teal;
  padding-top: 5px; 
  padding: 5px 15px; 
  border-radius: 5px; 
  text-decoration: none;
  }
  .player-card {
    border: thin green solid;
    width: 49%;
    text-align: center;
  }
  .computer-card {
    border: thin red solid;
    width: 49%;
    text-align: center;
  }
  .result {
    width: 100%;
    text-align: center;
    border: thin blue solid;
  }
 
  .row {
    display: flex;
    justify-content: space-between;
    margin: 5px;

    
  }
  .one-third {
    width: 30%;
  }
  body {
    font-family: Comfortaa;

  }
